<template>
  <Header />
  <div class="main-section">
    <h3 class="header-main">Add a post</h3>
    <div class="form-group">
      <input
        type="text"
        v-model="post.title"
        class="form-control mb-2"
        id="Title"
        placeholder="Title"
      />
      <textarea v-model="post.body" class="form-control" rows="10"></textarea>
    </div>
    <div class="row no-gutters">
      <div class="col-8 pr-2">
        <button
          @click="add"
          type="button"
          class="btn btn-primary btn-lg btn-block"
        >
          Add
        </button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-secondary btn-lg btn-block">
          Cancel
        </button>
      </div>
    </div>
    <h4 v-if="success" class="text-success mt-3">
      Post added successfully, fetch
      <u><router-link :to="{ name: 'Home', params: { userId: User.id } }">User posts</router-link></u>
    </h4>
    <h4 v-if="error" class="text-warning mt-3">
      You need to signin to Perform that action,
      <router-link
        class="text-warning"
        :to="{ name: 'Login'}"
        ><u>Login now!</u></router-link
      >
    </h4>
  </div>
</template>

<style lang="scss" scoped>
.main-section {
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  .header-main {
    color: #fff;
    margin-bottom: 15px;
  }
}
</style>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Home",
  data() {
    const post = {
      title: "",
      body: "",
      userId: ""
    };
    return {
      post,
      success: false,
      error: false,
    };
  },
  methods: {
    ...mapActions(["Add"]),
    async add() {
      if (this.User && this.User.id) {
        this.post.userId = this.User.id;
        this.error = false;
        this.Add(this.post)
        this.success = true;
      } else this.error = true;
    },
  },
  components: {
    Header,
  },
  computed: {
    ...mapGetters({ User: "user" }),
  },
};
</script>