<template>
  <Header />
  <div v-if="authenticated === false">
    <h2 class="mt-5 pt-5 text-danger">Invalid Login</h2>
    <h3 class="text-warning mt-5">
      You need to login to view Posts,
      <u
        ><router-link class="text-warning" to="/login"
          >Click here to login</router-link
        ></u
      >
    </h3>
  </div>
  <div v-else>
    <div class="add-post-sec">
      <router-link
        to="/add"
        type="button"
        class="btn btn-primary btn-lg btn-block"
      >
        Add a post
      </router-link>
    </div>
    <div class="posts">
      <div
        v-for="post in userPosts"
        :key="post.id"
        class="jumbotron single-post"
      >
        <Post :title="post.title" :body="post.body" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.add-post-sec {
  width: 70%;
  margin: 30px auto;
}
.posts {
  .single-post {
    color: #fff;
    text-align: left;
    width: 70%;
    margin: 0 auto 15px auto;
    &:first-child {
      margin-top: 15px;
    }
  }
}
</style>

<script>
import Header from "@/components/Header.vue";
import Post from "@/components/Post.vue";
import { mapGetters } from "vuex";

export default {
  name: "Home",
  components: {
    Header,
    Post,
  },
  computed: {
    authenticated() {
      let authenticated =
        this.User && this.User.id == null
          ? false
          : this.User && this.User.id
          ? true
          : undefined;
      return authenticated;
    },
    ...mapGetters({ userPosts: "posts", User: "user" }),
  },
};
</script>