<template>
  <nav v-if="User && User.id" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="mx-auto w-75 d-flex justify-content-between">
      <a class="navbar-brand" href="/">Blog</a>
      <button type="button" class="btn btn-secondary" @click="logout">
        Logout
      </button>
    </div>
  </nav>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  methods: {
    ...mapActions(["Logout"]),
    async logout() {
      await this.Logout();
      this.$router.push("/login");
    },
  },
  computed: {
    ...mapGetters({ User: "user" }),
  },
};
</script>