<template>
  <p class="lead">
    {{ title }}
  </p>
  <hr />
  <h3>{{ body }}</h3>
</template>

<script>
export default {
  props: {
    title: String,
    body: String,
  },
};
</script>

<style lang="scss" scoped>
</style>